/* You can add global styles to this file, and also import other style files */
/* @import '~@angular/material/prebuilt-themes/indigo-pink.css'; */

html, body { 
  font-family: Roboto, Arial, sans-serif;
  color: #37474f;
  margin: 0;
}

.basic-container {
  padding: 30px;
}

.button-row .button-row-item {
  margin-top: 15px;
  margin-bottom: 15px;
}
.button-row .button-row-item:not(:last-child) {
  margin-right: 8px;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Parent must use a flexbox row layout. */
  flex: 1 1 auto;
}

.final-page-section {
  margin-bottom: 15px;
}

.icon-shift {
  margin-right: 5px;
}

.spread {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.spread > * {
  margin-right: 15px;
}

.text-link {
  text-decoration: none;
}

.version-info {
  font-size: 8pt;
  float: right;
}
