<div fxLayout="row wrap" *ngIf="patientEntity">
  <div fxLayout="row wrap" fxFlex="90" fxFlexOffset="5" fxFlex.xs="100" fxFlexOffset.xs="0">
    <div fxLayout="row"
         fxFlex="33" fxFlexOffset="33"
         fxFlex.md="50" fxFlexOffset.md="25"
         fxFlex.sm="70" fxFlexOffset.sm="15"
         fxFlex.xs="96" fxFlexOffset.xs="2">
        <h2>{{pageTitle}}</h2>
    </div>
    <form fxLayout="row wrap"
          fxFlex="33" fxFlexOffset="33"
          fxFlex.md="50" fxFlexOffset.md="25"
          fxFlex.sm="70" fxFlexOffset.sm="15"
          fxFlex.xs="96" fxFlexOffset.xs="2">
      <mat-form-field fxFlex="100">
        <mat-label>First Name</mat-label>
        <input matInput
               type="text"
               name="firstName"
               placeholder="First Name"
               [(ngModel)]="patientEntity.firstName"
               required>
        <mat-error>This field is required</mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="100">
        <mat-label>Last Name</mat-label>
        <input matInput
               type="text"
               name="lastName"
               placeholder="Last Name"
               [(ngModel)]="patientEntity.lastName"
               required>
        <mat-error>This field is required</mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="100">
        <mat-label>Date of Birth</mat-label>
        <input matInput
               type="text"
               name="birthDate"
               placeholder="mm-dd-yyyy"
               [(ngModel)]="patientEntity.birthDate"
               required>
        <mat-error>This field is required</mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="100">
        <mat-label>Email</mat-label>
        <input matInput
               type="text"
               name="email"
               placeholder="Email"
               [(ngModel)]="patientEntity.email"
               required>
        <mat-error>This field is required</mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="100">
        <mat-label>Phone</mat-label>
        <input matInput
               type="text"
               name="phone"
               placeholder="Phone"
               [(ngModel)]="patientEntity.phone"
               required>
        <mat-error>This field is required</mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="100">
        <mat-label>Address</mat-label>
        <input matInput
               type="text"
               name="address1"
               placeholder="Address"
               [(ngModel)]="patientEntity.address1"
               required>
        <mat-error>This field is required</mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="100">
        <mat-label>Address 2</mat-label>
        <input matInput
               type="text"
               name="address2"
               placeholder="Address 2"
               [(ngModel)]="patientEntity.address2">
        <!-- <mat-error>This field is required</mat-error> -->
      </mat-form-field>
      <mat-form-field fxFlex="100">
        <mat-label>Address 3</mat-label>
        <input matInput
               type="text"
               name="address3"
               placeholder="Address 3"
               [(ngModel)]="patientEntity.address3">
        <!-- <mat-error>This field is required</mat-error> -->
      </mat-form-field>
      <mat-form-field fxFlex="100">
        <mat-label>City</mat-label>
        <input matInput
               type="text"
               name="city"
               placeholder="City"
               [(ngModel)]="patientEntity.city"
               required>
        <mat-error>This field is required</mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="100">
        <mat-label>State</mat-label>
        <input matInput
               type="text"
               name="state"
               placeholder="State"
               [(ngModel)]="patientEntity.state"
               required>
        <mat-error>This field is required</mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="100">
        <mat-label>Zipcode</mat-label>
        <input matInput
               type="number"
               name="zipcode"
               placeholder="Zipcode"
               [(ngModel)]="patientEntity.zipcode"
               required>
        <mat-error>This field is required</mat-error>
      </mat-form-field>
    </form>
    <div fxLayout="row" fxLayoutAlign="center" fxFlex="100" class="button-row final-page-section">
      <button mat-stroked-button (click)="cancel()">Cancel</button>
      <button mat-flat-button color="accent" (click)="save()">Save</button>
    </div>
  </div>
</div>


<!-- id: number;
firstName: string;
lastName: string;
birthDate: string;
email: string;
phone: string;
address1: string;
address2: string;
address3: string;
city: string;
state: string;
zipcode: number; -->