
<mat-tab-group [selectedIndex]="activeTab">
  <mat-tab label="Patient">
    <ng-template matTabContent>
      <app-patient></app-patient>
    </ng-template>
  </mat-tab>
  <mat-tab label="Billing">
    <ng-template matTabContent>
      <app-billing></app-billing>
    </ng-template>
  </mat-tab>
  <mat-tab label="Scheduler">
    <ng-template matTabContent>
      <app-scheduler></app-scheduler>
    </ng-template>
  </mat-tab>
  <mat-tab label="Office Manager">
    <ng-template matTabContent>
      <app-office></app-office>
    </ng-template>
  </mat-tab>
  <mat-tab label="Physicians Directory">
    <ng-template matTabContent>
      <app-physician></app-physician>
    </ng-template>
  </mat-tab>
</mat-tab-group>
