<div fxLayout="row wrap">
  <div fxLayout="row wrap" fxFlex="90" fxFlexOffset="5">
    <h2 fxFlex="10" fxFlex.lt-sm="100">Scheduler</h2>
    <!-- Appointment Date - Datepicker -->
    <mat-form-field
      fxFlex="20" fxFlexOffset="30" fxFlexAlign="end"
      fxFlex.lt-md="100" fxFlexOffset.lt-md="0">
      <input matInput
        [matDatepicker]="appointmentPicker"
        name="appointmentDate"
        placeholder="Select a Date"
        [formControl]="appointmentDateControl"
        required>
      <mat-error>You must select an appointment date</mat-error>
      <mat-datepicker-toggle matSuffix [for]="appointmentPicker"></mat-datepicker-toggle>
      <mat-datepicker #appointmentPicker></mat-datepicker>
    </mat-form-field>
    <!-- View Button Group -->
    <div fxLayout="row" fxLayoutAlign="end" fxFlex="40" fxFlexAlign="center" fxFlex.lt-md="100" fxFlexOffset.lt-md="0" class="button-row">
      <mat-button-toggle-group #displayLayout="matButtonToggleGroup" value="day" class="button-row-item">
        <mat-button-toggle value="day">
          <mat-icon class="icon-shift">view_day</mat-icon>
          <span>Day</span>
        </mat-button-toggle>
        <mat-button-toggle value="week">
          <mat-icon class="icon-shift">view_week</mat-icon>
          <span>Week</span>
        </mat-button-toggle>
      </mat-button-toggle-group>
      <button mat-raised-button color="accent" (click)="addAppointment()" class="button-row-item">
        <mat-icon class="icon-shift">alarm_add</mat-icon>
        <span>Add Appointment</span>
      </button>
    </div>
  </div>
  
  <div fxLayout="row"
    fxFlex="90" fxFlexOffset="5"
    fxFlex.lt-md="100" fxFlexOffset.lt-md="0"
    class="mat-elevation-z8 final-page-section"
    style="height: 700px;">
    <!-- Left Sidebar -->
    <div fxLayout="column" fxFlex="250px">
      <!-- Physician List -->
      <div fxLayout="column" fxFlex="50">
        <mat-toolbar fxFlex="60px">
          <span>Physicians</span>
        </mat-toolbar>
        <div fxFlex="calc(100-60px)" style="overflow-y: auto;">
          <mat-selection-list [formControl]="physicianSelectControl" (selectionChange)="filterPhysicians($event)">
            <mat-list-option checkboxPosition="before" [value]="physician" *ngFor="let physician of physicians">
              <span>{{physician.firstName + ' ' + physician.lastName}}</span>
            </mat-list-option>
          </mat-selection-list>
        </div>
      </div>
      <!-- Patient List -->
      <div fxLayout="column" fxFlex="50">
        <mat-toolbar fxFlex="60px">
          <span>Patients</span>
        </mat-toolbar>
        <div fxFlex="calc(100-60px)" style="overflow-y: auto;">
          <mat-selection-list [formControl]="patientSelectControl" (selectionChange)="filterPatients($event)">
            <mat-list-option checkboxPosition="before" [value]="patient" *ngFor="let patient of patients">
              <span>{{patient.firstName + ' ' + patient.lastName}}</span>
            </mat-list-option>
          </mat-selection-list>
        </div>
      </div>
    </div>
    <!-- Day View -->
    <div *ngIf="displayLayout.value === 'day'"
      fxFlex="calc(100-250px)"
      style="height: 700px; overflow-y: auto;">
      <div class="day-grid">
        <mat-toolbar class="day-grid-corner" color="primary"></mat-toolbar>

        <div class="day-grid-timeslot" *ngFor="let hour of hours">
          <span class="day-grid-timeslot-label">{{hour}}</span>
        </div>

        <div *ngFor="let schedule of (selectedSchedules | filter: 'active'); let i = index"
             [style.grid-column-start]="i + 2"
             [style.grid-column-end]="i + 3"
             class="schedule-grid">
          <mat-toolbar class="schedule-grid-header" color="primary">
            <span class="schedule-grid-header-text">{{schedule.person.firstName + ' ' + schedule.person.lastName}}</span>
          </mat-toolbar>

          <mat-card
            class="appointment"
            *ngFor="let appointment of schedule.appointments"
            fxLayout="row wrap"
            [style.grid-row-start]="mapAppointmentDate(appointment.startDate)"
            [style.grid-row-end]="mapAppointmentDate(appointment.endDate)">
            <mat-card-content
              class="appointment-body"
              fxLayout="row"
              fxFlex="100"
              fxFlexAlign="stretch">
              <span class="appointment-body-spacer" fxFlex="10px"></span>
              <strong class="appointment-body-description">{{appointment.description + ';'}}</strong>
              <span *ngIf="schedule.isPatient">{{appointment.physician.firstName + ' ' + appointment.physician.lastName}}</span>
              <span *ngIf="!schedule.isPatient">{{appointment.patient.firstName + ' ' + appointment.patient.lastName}}</span>
              <span class="fill-remaining-space"></span>
              <span class="appointment-options">
                <button
                  class="appointment-options-button"
                  (click)="editAppointment(appointment)"
                  mat-icon-button>
                  <mat-icon
                    class="appointment-options-edit-icon"
                    aria-label="Edit appointment button">edit</mat-icon>
                </button>
                <button
                  class="appointment-options-button"
                  (click)="deleteAppointment(appointment)"
                  mat-icon-button>
                  <mat-icon
                    class="appointment-options-delete-icon"
                    aria-label="Delete appointment button">delete</mat-icon>
                </button>
              </span>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    <!-- Week View -->
    <div *ngIf="displayLayout.value === 'week'"
      fxFlex="calc(100-250px)"
      style="height: 700px; overflow-y: auto;">
      Week View
    </div>
  </div>
</div>
