
.appointment {
  padding: 0;
}
.appointment-body {
  background-color: #66ffa6;
  padding-left: 0px;
}
.appointment-body-spacer {
  background-color: #00e676;
  margin-right: 5px;
}
.appointment-body-description {
  margin-right: 5px;
}
.appointment-options {
  height: 15px;
}
.appointment-options-button {
  height: 15px;
  width: 15px;
}
.appointment-options-edit-icon {
  vertical-align: top;
  line-height: 15px;
  font-size: 15px;
  height: 100%;
  width: 100%;
  margin-right: 5px;
}
.appointment-options-delete-icon {
  vertical-align: top;
  line-height: 15px;
  font-size: 15px;
  height: 100%;
  width: 100%;
}

.day-grid {
  display: grid;
  grid-template: repeat(25, 60px) / 60px;
  grid-column-gap: 5px;
  /* autoprefixer: off */
  grid-auto-columns: 1fr;
}
.day-grid-corner {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  position: sticky;
  top: 0;
  z-index: 2;
  height: 60px;
}
.day-grid-timeslot {
  grid-column: 1 / 2;
  border-top: #00e676 solid 2px;
  background-color: #75a7ff;
}
.day-grid-timeslot-label {
  float: right;
  border-right: #00e676 solid 2px;
  color: black;
}

.schedule-grid {
  grid-row: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: repeat(300, 5px);
  background-color: #75a7ff;
}
.schedule-grid-header {
  grid-row: 1 / 13;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 2;
}
.schedule-grid-header-text {
  margin: 0 auto;
}
